{% extends 'app/app.html.twig' %}

    {% block subtitle %}
        Solutions
    {% endblock %}

    {% block section %}
        <h3>Solutions</h3>
        <p>
            To jest strona na której pojawi się lista zadań rozwiązanych przez użytkownika
        </p>
    {% endblock %}