{% extends 'app/app.html.twig' %}

    {% block subtitle %}
        Rank
    {% endblock %}

    {% block section %}
        <h3>Rank</h3>
        <p>
            Tu będzie ranking użytkowników platformy
        </p>
    {% endblock %}