{% extends 'base.html.twig' %}

{% block title %}Edit Example{% endblock %}

{% block body %}
    <h1>Edit Example</h1>

    {{ include('example/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('example_index') }}">back to list</a>

    {{ include('example/_delete_form.html.twig') }}
{% endblock %}
