{% extends 'app/app.html.twig' %}

    {% block subtitle %}
        Problems
    {% endblock %}

    {% block section %}
        <h3>Problems</h3>
        <p>
            Tu będzie podstrona umożliwiająca zmianę ustawień konta użytkownika i wyglądu clienta
        </p>
    {% endblock %}