{% extends 'app/app.html.twig' %}

    {% block subtitle %}
        Courses
    {% endblock %}

    {% block section %}
        <h3>Courses</h3>
        <p>
            Tu będzie lista kursów dostępnych dla użytkownika
    {% endblock %}