{% extends 'base.html.twig' %}

{% block title %}Edit post{% endblock %}

{% block body %}

    <section class="container">
        <div class="card" style="margin-bottom: 2rem; margin-top: 2rem">
            <div class="card-header">
                <a href="{{ path('dashboard_index') }}">Back to list</a>
            </div>
        </div>

        <div class="card" style="margin-bottom: 2rem; margin-top: 2rem">
            <div class="card-header">
                <h3>Edit post</h3>
            </div>
            <div>
                {{ include('app/_form.html.twig', {'button_label': 'Update'}) }}
            </div>
            {{ include('app/_delete_form.html.twig', {
                'item_id': post.id,
            })}}
        </div>
    </section>

{% endblock %}
