{% extends 'app/app.html.twig' %}

    {% block subtitle %}
        Dashboard
    {% endblock %}

    {% block section %}
        <h3>Dashboard</h3>
        <p>
            Tu będzie lista postów dodanych przez użytkowników
        </p>
    {% endblock %}