{% extends 'base.html.twig' %}

{% block title %}New post{% endblock %}

{% block body %}
    <h1>Create new post</h1>

    {{ include('app/_form.html.twig') }}

    <a href="{{ path('dashboard_index') }}">back to list</a>
{% endblock %}
