{% extends 'base.html.twig' %}

{% block title %}New post{% endblock %}

{% block body %}
<section class="container">
    <div class="card" style="margin-bottom: 2rem; margin-top: 2rem">
        <div class="card-header">
            <a href="{{ path('dashboard_index') }}">Back to list</a>
        </div>
    </div>

    <div class="card" style="margin-bottom: 2rem; margin-top: 2rem">
        <div class="card-header">
            <h3>Create new post</h3>
        </div>
        <div>
            {{ include('app/_form.html.twig') }}
        </div>
    </div>

</section>
{% endblock %}
