{{ form_start(form) }}
    <div style="padding: 1rem;">
        {{ form_widget(form) }}
        <hr>
        <button
                class="btn btn-primary"
                style="display: inline-block; width: fit-content;"
        >{{ button_label|default('Save') }}</button>
    </div>
{{ form_end(form) }}
