<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        Baca 2.0 - {% block subtitle %}Welcome!{% endblock %}
    </title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,400&display=swap');
        body {
            font-family: 'Montserrat', sans-serif;
            background-color: #1f1f1f;
            color: white;
        }
        li, u, a {
            list-style: none;
            text-decoration: none;
            padding: 0;
        }
        a {
            font-weight: bolder;
            color: dodgerblue;
        }
        a:hover {
            color: #5caeff;
        }
        a:active {
            color: #1e60a1;
        }
        button {
            border: none;
            padding: 0.5rem 1rem 0.5rem 1rem;
            font-size: 0.9rem;
            font-family: 'Montserrat', sans-serif;
            font-weight: bolder;
            color: white;
            background-color: #bf3d3d;
            border-radius: 5px;
            cursor: pointer;
        }
        button:hover {
            background-color: #d55a5a;
        }
        form {
            padding: 4rem;
            width: fit-content;
            background-color: #2f2f2f;
        }
        label {
            display: block;
            margin-bottom: 0.5rem;
            padding-top: 0.8rem;
        }
        form button {
            margin-top: 1rem;
            background-color: #377437;
        }
        form button:hover {
            background-color: #549a54;
        }
        input {
            background-color: #525252;
            border: none;
            border-radius: 3px;
            padding: 0.2rem;
        }
        input:hover {
            background-color: #656565;
        }
        input:active {
            background-color: #181818;
        }
        input:focus, input:hover, input:active {
            outline: none;
        }
    </style>
    {% block stylesheets %}{% endblock %}
</head>
<body>

    {% block body %}{% endblock %}

    {% block javascripts %}{% endblock %}

</body>
</html>